# gRPC
GRPC_SERVER_PORT=9090

# JWT
JWT_SECRET=mega-super-private-key

# JPA
DB_URL=jdbc:mysql://db:3306/auth
DB_USERNAME=root
DB_PASSWORD=root

# JavaMailSender
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=tu-email@gmail.com
MAIL_PASSWORD=tu-contraseña-app
MAIL_AUTH=false
MAIL_ENABLE_TLS=false
MAIL_REQUIRE_TLS=false

MAIL_FROM=noreply@chocolatada.com
MAIL_APP_NAME=Web MMORPG
